

<ion-view view-title = "Contact Us">
	<ion-content>
	
		<div class = "card">
			<div class="item item-divider">
			
				Location Information
           
			</div>
			<div class = "row">
				<div class = "col col-offset-5">
					<h4>Our Address</h4>
                  
					121, Clear Water Bay Road<br>
					Clear Water Bay, Kowloon<br>
					HONG KONG<br>
					<i class="ion-ios-telephone"></i>&nbsp;:&nbsp; +852 1234 5678<br>
					<i class="icon ion-printer"></i>&nbsp;:&nbsp; +852 8765 4321<br>
					<i class="icon ion-email"></i>&nbsp;: &nbsp;
					<a href="mailto:confusion@food.net">confusion@food.net</a>			
				</div>
			</div>
			<div class="item item-divider">	
				<div class="button-bar">
					<a class="button button-positive"><i class="ion-ios-telephone"></i>&nbsp;Call</a>
					<a class="button button-calm"><i class="ion-social-skype"></i>&nbsp;Skype</a>
					<a class="button button-balanced"><i class="icon ion-email"></i>&nbsp;Email</a>
				</div>
			</div>
		</div>
		
	</ion-content>
</ion-view>